:root {
  --main-color: #3da9fc;
  --base-color: #dedede;
  --highlight-color: #ffffff;
  --shadow-color: #bdbdbd;

  --room-color: #c17ca0;
  --hall-color-a: #6fa0e9;
  --hall-color-b: #de6769;
  --hall-color-c: #95c380;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-color: #fffffe; */
  background-color: var(--base-color);
}
header {
  width: 100%;
  padding: 30px 104px 35px 79px;
  /* margin: 0 0 148px 0; */
  background-color: var(--main-color);
  color: var(--base-color);
  top: 0;
  display: flex;
  align-items: center;
}
.main{
    padding-top: 148px;
}
.times {
  width: 61px;
  margin: 0 20px 0 97px;
}
.timeText {
  /* height: 87px; */
  /* margin: 178px 0 0 0; */
  font-size: 20px;
  vertical-align: middle;
  color: var(--main-color);
}
h1 {
  margin: 0;
  padding: 0 0 0 0;
  font-size: 30px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  margin: 0 15px 0 15px;
  padding: 10px;
  font-size: 30px;
}
.day-list {
  margin: 0 0 0 auto;
}
.nav-list {
  margin: 0 0 0 auto;
}
.main {
  width: 100%;
}
/* .Kouen{
    width: 1176px;

    margin:0 0 0 0;
}
.Benkyo{

    margin: 0 0 0 auto;
} */
.dayAndtitle {
  display: flex;
  margin: 0 0 0px 0;
}
h2 {
  width: 280px;
  height: 58px;
  margin: 0 auto 23px auto;
  text-align: center;
  font-size: 30px;
  /* background-color: #5f6c7b; */
  padding: 10px 0;
  border-radius: 72px;
  background: var(--base-color);
  box-shadow: 6px 6px 10px var(--shadow-color),
    -6px -6px 10px var(--highlight-color);
  color: var(--main-color);
}
.Day {
  font-size: 50px;
  color: var(--main-color);
}
.dayBlock {
  width: 100%;
  margin: 0 0 200px 0;
  display: flex;
}
.roomA {
  width: 318px;
  margin: 0px;
  color: var(--room-color);
}
.roomB {
  width: 318px;
  margin: 0px;
  color: var(--room-color);
}
.holes {
  width: 100%;
  margin: 0 20px 0 0;
}

.holeA {
  width: 318px;
  margin: 0px;
  color: var(--hall-color-a);
}
.holeB {
  width: 318px;
  margin: 0px;
  color: var(--hall-color-b);
}
.holeC {
  width: 318px;
  margin: 0px;
  color: var(--hall-color-c);
}

.holeA > .sessionBlock {
}
.holeB > .sessionBlock {
}
.holeC > .sessionBlock {
}
h3:not(.info > h3) {
  width: 318px;
  height: 68px;
  /* margin: 0px 19px 0px 0px; */
  margin: 20px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border-radius: 61px;
  background: var(--base-color);
  box-shadow: inset 6px 6px 7px var(--shadow-color),
    inset -6px -6px 7px var(--highlight-color);
}

.sessionBlock {
  width: 298px;
  margin: 10px auto 78px auto;
  padding: 20px 35px;

  text-align: center;
  height: 189px;
  border-radius: 36px;
  background: var(--base-color);
  box-shadow: 9px 9px 13px var(--shadow-color),
    -9px -9px 13px var(--highlight-color);
}
.sessionText {
  font-size: 11px;
}
.sessionText > h4 {
  font-size: 17px;
  text-align: center;
  margin-bottom: 30px;
}

/* 使い方のとこ */
.use {
  width: 100%;
  height: 300px;
  margin: 0;
  background-color: #5f6c7b;
}

footer {
  margin: 0;
  width: 100%;
  padding: 80px 4% 10px;
  background-color: var(--main-color);
  color: #fffffe;
  top: 0;
  display: flex;
  align-items: center;
}

#tweet-list {
  /* margin: 0px 19px 0px 0px; */
  width: 40vw;
  padding: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  vertical-align: middle;
  border-radius: 61px;
  background: var(--base-color);
  box-shadow: inset 6px 6px 7px var(--shadow-color),
    inset -6px -6px 7px var(--highlight-color);
}

#tweet-list > div {
  margin-left: auto;
  margin-right: auto;
}

.info {
  justify-content: center;
  display: flex;
  text-align: center;
  margin-bottom: 78px;
}

.info > h3 {
  font-size: 2rem;
  color: var(--main-color);
  margin: 20px;
}

/* tweetまとめページのタイトルカード */
.sessionTitle {
  width: 30vw;
  margin: 50px auto 50px auto;
  padding: 30px;
  text-align: center;
  color: var(--hall-color-a);
  /* height: 189px; */
  border-radius: 36px;
  background: var(--base-color);
  box-shadow: 9px 9px 13px var(--shadow-color),
    -9px -9px 13px var(--highlight-color);
}

.sessionTitle h4 {
  font-size: 2rem;
}
