<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweetまとめ</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</head>

<body>
    <header>
        <h1>
            <a>技育祭おまとめさん</a>
        </h1>
        <ul class="day-list">
            <li class="header-list-item">
                <a>Day1</a>
            </li>
            <li class="header-list-item">
                <a>Day2</a>
            </li>
            <li class="header-list-item">
                <a>Day3</a>
            </li>
        </ul>
        <ul class="nav-list">
            <li class="header-list-item">
                <a>使い方</a>
            </li>
            <li class="header-list-item">
                <a>技育祭公式サイト</a>
            </li>
            <li class="header-list-item">
                <a>Github</a>
            </li>
        </ul>
    </header>
    <div id="app">
        <div class="sessionTitle">
            <div class="sessionText">
                <h4>
                    <a>これからの社会の変化と若者に求められるあり方とは</a>
                    <!-- <a>{{ tweetData["title"] }}</a> -->
                </h4>
                <a>東京大学大学院工学系研究科 教授　松尾 豊</a>
                <!-- <a>{{ tweetData["speaker"] }}</a> -->
            </div>
        </div>

        <div class="info">
            <h3 id="room-name"></h3>
            <h3 id="date">13：00～14：00</h3>
        </div>

        <div id="tweet-list">
            <!-- <blockquote class="twitter-tweet" v-for="data in tweetData">
                <a href="https://twitter.com/sana_natori/status/1364720183688929280"></a>
            </blockquote> -->
            <!-- <blockquote class="twitter-tweet" v-for="data in tweetData['tweet']"> -->

            <!-- <blockquote class="twitter-tweet" v-for="data in tweetData"> -->
            <!-- api用 -->
            <!-- <a v-bind:href="`https://twitter.com/user/status/${data.id_str}`"></a> -->
            <!-- <a v-bind:href="`https://twitter.com/user/status/${data.conversation_id}`"></a> -->
            <!-- <a v-bind:href="`https://twitter.com/user/status/${data.tweet_str_id}?ref_src=twsrc%5Etfw`"></a> -->
            <!-- </blockquote> -->

            <!-- <blockquote class="twitter-tweet">
                <p lang="ja" dir="ltr">長文感想note要求したら三度の飯取り上げられてワロタ</p>&mdash; 名取さな🍆お誕生日イベント感謝感謝！ (@sana_natori) <a
                    href="https://twitter.com/sana_natori/status/1369271390646411268?ref_src=twsrc%5Etfw">March 9,
                    2021</a>
            </blockquote> -->

            <div class="tweet-container" v-for="data in tweetData"></div>
        </div>
    </div>

    <!-- <div id="app">
        <blockquote class="twitter-tweet" v-for="data in tweetData">
            <a v-bind:href="`https://twitter.com/user/status/${data.id_str}`"></a>
        </blockquote>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const params = (new URL(document.location)).searchParams;
        const query = params.get('s');
        // 部屋
        const room = query.match(/room[a-z]/g);
        // 何セッション目か
        const session = query.match(/[0-9]+/g);

        // 部屋と時間埋める
        const room_el = document.getElementById('room-name');
        const date_el = document.getElementById('date');
        if (room == "rooma") {
            room_el.textContent = 'ルームA'
        }
        if (session == "3") {
            date_el.textContent = '13:30～14:30'
        }
        var app = new Vue({
            el: '#app',
            // el: '#tweet-list',
            data: {
                tweetData: []
                // tweetData: {}
            },
            methods: {
                async getTweetData() {
                    // const url = './js/data/api-out.json'
                    // const url = './js/data/roomb/session_1.json'
                    const url = `./js/data/${room}/session_${session}.json`
                    // const url = `./db/`
                    // await axios.get(url).then(x => { this.tweetData = x.data })
                    await axios.get(url).then(x => { this.tweetData = x.data['tweet'] })
                    // this.tweetIds = tweetData.reduce((acc, value, index) => {
                    //     acc.push(value['user']['id']);
                    //     return acc;
                    // }, []);
                    console.log(this.tweetData)
                    document.querySelectorAll('.tweet-container').forEach((v, i) => {
                        console.log(this.tweetData[i]['conversation_id']);
                        twttr.widgets.createTweet(
                            this.tweetData[i]['conversation_id'],
                            v,
                            {
                                align: "center"
                            }
                        );
                    });
                }
            },
            mounted() {
                this.getTweetData();
            }
        });


    </script>
</body>

</html>