<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweetまとめ</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="css/tablestyle.css">
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>

<body>
    <header>
        <h1>
            <a href="./">技育祭おまとめさん</a>
        </h1>

        <div class="ham" id="ham">
            <span class="ham_line ham_line1"></span>
            <span class="ham_line ham_line2"></span>
            <span class="ham_line ham_line3"></span>
        </div>
        <div class="menu_wrapper" id="menu_wrapper">
            <div class="menu">
                <ul class="nav-list">
                    <li class="header-list-item">
                        <a href="./#USE">使い方</a>
                    </li>
                    <li class="header-list-item">
                        <a href="https://talent.supporterz.jp/geeksai/2021/" target="_blank">技育祭公式サイト</a>
                    </li>
                    <li class="header-list-item">
                        <a href="https://github.com/soukatsu-ouc-programmers/geeksai-matome" target="_blank">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="app" class="tw-contents">
        <div class="sessionTitle">
            <div v-bind:class="`sessionText ${sessionData.loc}`">
                <h4>
                    <a>{{ sessionData.title }}</a>
                    <!-- <a>{{ tweetData["title"] }}</a> -->
                </h4>
                <a>{{ sessionData.speaker }}</a>
                <!-- <a>{{ tweetData["speaker"] }}</a> -->
            </div>
        </div>

        <div v-bind:class="`info ${sessionData.loc}`">
            <h3 id="room-name">#{{ sessionData.hashTag }}</h3>
            <h3 id="date">{{ sessionData.startTime }}～{{ sessionData.endTime }}</h3>
        </div>

        <div id="tweet-list">
            <!-- <blockquote class="twitter-tweet" v-for="data in tweetData">
                <a href="https://twitter.com/sana_natori/status/1364720183688929280"></a>
            </blockquote> -->
            <!-- <blockquote class="twitter-tweet" v-for="data in tweetData['tweet']"> -->

            <!-- <blockquote class="twitter-tweet" v-for="data in tweetData"> -->
            <!-- api用 -->
            <!-- <a v-bind:href="`https://twitter.com/user/status/${data.id_str}`"></a> -->
            <!-- <a v-bind:href="`https://twitter.com/user/status/${data.conversation_id}`"></a> -->
            <!-- <a v-bind:href="`https://twitter.com/user/status/${data.tweet_str_id}?ref_src=twsrc%5Etfw`"></a> -->
            <!-- </blockquote> -->

            <!-- <blockquote class="twitter-tweet">
                <p lang="ja" dir="ltr">長文感想note要求したら三度の飯取り上げられてワロタ</p>&mdash; 名取さな🍆お誕生日イベント感謝感謝！ (@sana_natori) <a
                    href="https://twitter.com/sana_natori/status/1369271390646411268?ref_src=twsrc%5Etfw">March 9,
                    2021</a>
            </blockquote> -->

            <div class="tweet-container" v-for="data in tweetData"></div>
        </div>
    </div>

    <!-- <div id="app">
        <blockquote class="twitter-tweet" v-for="data in tweetData">
            <a v-bind:href="`https://twitter.com/user/status/${data.id_str}`"></a>
        </blockquote>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/humberger.js"></script>

    <script>
        const params = (new URL(document.location)).searchParams;
        const query = params.get('s');
        // s=holeA_Day1_1
        const tmpArr = query.split('_');
        // 分割
        const [room, day, time] = tmpArr;

        var app = new Vue({
            el: '#app',
            // el: '#tweet-list',
            data: {
                tweetData: [],
                sessionData: {}
                // tweetData: {}
            },
            methods: {
                async getTweetData() {
                    // const url = './js/data/api-out.json'
                    // const url = './js/data/roomb/session_1.json'
                    // const url = `./js/data/${room}/session_${session}.json`
                    const url = `./db/?s=${query}`
                    await axios.get(url).then(x => {
                        if (x == undefined){
                            tweetData = [{"tweet_str_id": 1369848266385330183}]
                        }
                        this.tweetData = x.data;
                    })
                    // await axios.get(url).then(x => { this.tweetData = x.data['tweet'] })
                    // this.tweetIds = tweetData.reduce((acc, value, index) => {
                    //     acc.push(value['user']['id']);
                    //     return acc;
                    // }, []);
                    // console.log(this.tweetData)
                    document.querySelectorAll('.tweet-container').forEach((v, i) => {
                        // console.log(this.tweetData[i]['tweet_str_id']);
                        twttr.widgets.createTweet(
                            // this.tweetData[i]['conversation_id'],
                            this.tweetData[i]['tweet_str_id'],
                            v,
                            {
                                align: "center"
                            }
                        );
                    });
                },
                async getSessionData() {
                    const url = './js/data/session.json';
                    allSession = {}
                    await axios.get(url).then(x => { allSession = x.data });
                    this.sessionData = allSession[day][time]['sessions'].find(v => v.loc == room)
                    // console.log(this.sessionData)
                }
            },
            mounted() {
                this.getTweetData();
                this.getSessionData();
            }
        });


    </script>
</body>

</html>